* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  padding: 1.5rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .hero-text img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .hero-text .text {
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}
main .hero-text p {
  text-transform: uppercase;
  font-size: 1.3em;
}
main .image-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
main .image-text .top {
  width: 100%;
  aspect-ratio: 1/1;
}
main .image-text .top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .image-text .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .image-text .bottom h1 {
  font-size: 2.8em;
  font-weight: 350;
  text-transform: uppercase;
  line-height: 1;
}
main .image-text .bottom p {
  font-size: 1.6em;
  font-weight: 400;
  font-family: monospace;
  opacity: 0.9;
}
main .image-text .bottom .services {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
main .image-text .bottom .services .service {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .image-text .bottom .services .service p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 350;
}
main .image {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
main .image .toping {
  width: 100%;
  aspect-ratio: 1/1;
}
main .image .toping img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .image .bottoming {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .image .bottoming p {
  writing-mode: vertical-rl;
  margin-right: 1.8em;
}
main .image .bottoming .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .image .bottoming .text p {
  writing-mode: initial;
  opacity: 0.6;
  font-size: 1.5em;
  font-family: monospace;
  font-weight: 300;
  line-height: 1.3em;
}
main .image .bottoming .text h1 {
  font-size: 3em;
  font-weight: 370;
  line-height: 1;
  text-transform: uppercase;
}
main .service-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}
main .service-text .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .service-text .top h1 {
  font-size: 4em;
  font-weight: 350;
}
main .service-text .top .contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main .service-text .top .contents .content {
  border-top: 1.5px solid rgba(145, 140, 140, 0.7294117647);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
main .service-text .top .contents .content h2 {
  padding-top: 0.25em;
  font-size: 2.2em;
  font-weight: 350;
  text-transform: uppercase;
}
main .service-text .top .contents .content p {
  font-size: 1.6em;
  line-height: 1em;
  opacity: 0.6;
}
main .service-text .top .contents .content h4 {
  font-size: 1.3em;
  margin-top: 1em;
  font-weight: 400;
}
main .service-text .top .contents .content h4 span {
  font-size: 1.5em;
  padding: 0.25em;
  background-color: #333;
  border-radius: 50px;
  color: white;
  height: 2em;
}
main .service-text .top .contents .content-1 {
  grid-area: a;
}
main .service-text .top .contents .content-2 {
  grid-area: b;
}
main .service-text .top .contents .content-3 {
  grid-area: c;
}
main .service-text .top .contents .content-4 {
  grid-area: d;
}
main .service-text .bottom {
  width: 100%;
}
main .service-text .bottom img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
main .grid-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main .grid-text hr {
  position: relative;
  left: -1.5rem;
  width: calc(100% + 3rem);
  border: 0.5px solid rgb(233, 224, 224);
  top: 1em;
}
main .grid-text img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .grid-text .designs {
  width: 100%;
  aspect-ratio: 18/7.8;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .grid-text .designs .design {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
main .grid-text .designs .design img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
main .grid-text .designs .text {
  width: 100%;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
main .grid-text .designs .text h2 {
  font-size: 2.3em;
  font-weight: 400;
  text-transform: uppercase;
}
main .grid-text .designs .text p {
  font-family: monospace;
  font-size: 1.5em;
}
main .grid-text .designs .text h4 {
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  font-family: monospace;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
main .grid-text .designs .text h4 span {
  font-size: 1.5em;
}
main .grid-text .designs .design2 {
  display: none;
}
main .grid-text .designs .design6 {
  display: none;
}
main .content-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main .content-text img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .content-text .contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
main .content-text .contents .content h2 {
  font-size: 2em;
  font-weight: 350;
  text-transform: uppercase;
}
main .content-text .contents .content p {
  text-transform: uppercase;
}
main .content-text .contents hr {
  color: rgba(226, 224, 224, 0.7607843137);
  opacity: 0.5;
}
main .teams {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main .teams hr {
  position: relative;
  left: -1.5rem;
  width: calc(100% + 3rem);
  border: 0.5px solid rgb(233, 224, 224);
}
main .teams .team {
  width: 100%;
}
main .teams .team h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 350;
}
main .teams .team p {
  font-family: monospace;
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: 100;
  padding-top: 0.5em;
}
main .teams .groups {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  aspect-ratio: 18/7.8;
}
main .teams .groups .group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .teams .groups .group h2 {
  font-size: 1.75em;
  font-weight: 350;
  text-transform: uppercase;
}
main .teams .groups .group .img {
  width: 100%;
  aspect-ratio: 1/1.125;
}
main .teams .groups .group .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .teams .groups .group span {
  font-family: monospace;
  text-transform: uppercase;
  font-weight: 700;
}
main .teams .groups .group p {
  font-size: 1.5em;
  font-family: monospace;
  opacity: 0.6;
}

@media (min-width: 900px) {
  main {
    padding: 4rem;
    gap: 3rem;
  }
  main .image-text {
    flex-direction: row-reverse;
    gap: 4em;
  }
  main .image-text .bottom h1 {
    font-size: 5em;
  }
  main .image-text .bottom p {
    font-size: 2em;
    font-family: monospace;
  }
  main .image-text .bottom .services {
    margin-top: auto;
  }
  main .image-text .bottom .services .service p {
    font-size: 2em;
  }
  main .image {
    flex-direction: row;
    gap: 5em;
  }
  main .image .toping {
    width: 32%;
  }
  main .image .bottoming {
    width: 68%;
    gap: 4em;
    flex-direction: row-reverse;
  }
  main .image .bottoming p {
    margin: 0em;
  }
  main .image .bottoming .text {
    display: flex;
    flex-direction: column;
    gap: 4em;
    justify-content: space-between;
    padding-top: 0.25em;
    padding-bottom: 1em;
  }
  main .image .bottoming .text h1 {
    font-size: 5em;
    font-weight: 360;
  }
  main .image .bottoming .text p {
    font-size: 1.7em;
  }
  main .service-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4em;
  }
  main .service-text .top {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4em;
  }
  main .service-text .top h1 {
    font-size: 6em;
    line-height: 1em;
    text-transform: uppercase;
  }
  main .service-text .top .contents {
    gap: 3em;
    display: grid;
    grid-template-areas: "a b" "c d";
  }
  main .service-text .top .contents .content {
    width: 100%;
  }
  main .service-text .top .contents .content h2 {
    font-size: 1.4em;
    font-weight: 400;
  }
  main .service-text .top .contents .content p {
    font-size: 1.1em;
    word-spacing: 0.5em;
    line-height: 1.2em;
  }
  main .service-text .top .contents .content h4 {
    font-size: 0.8em;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 1em;
  }
  main .service-text .top .contents .content h4 span {
    font-size: 2.5em;
  }
  main .service-text .bottom {
    width: 50%;
  }
  main .grid-text {
    gap: 5em;
  }
  main .grid-text hr {
    position: relative;
    left: -4rem;
    width: calc(100% + 8rem);
    border: 0.5px solid rgb(233, 224, 224);
  }
  main .grid-text .designs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1.5em;
  }
  main .grid-text .designs .design2, main .grid-text .designs .design6 {
    display: contents;
    display: block;
  }
  main .grid-text .designs .design3, main .grid-text .designs .design4 {
    padding: 0.5em;
  }
  main .grid-text .designs .design3 h2, main .grid-text .designs .design4 h2 {
    font-size: 4em;
  }
  main .grid-text .designs .design3 h4, main .grid-text .designs .design4 h4 {
    margin-top: 15em;
  }
  main .grid-text .designs .design1 {
    width: 1fr;
  }
  main .grid-text .designs .design2 {
    width: 1fr;
  }
  main .grid-text .designs .design3 {
    width: 1fr;
  }
  main .grid-text .designs .design4 {
    width: 1fr;
  }
  main .grid-text .designs .design5 {
    width: 1fr;
  }
  main .grid-text .designs .design6 {
    width: 1fr;
  }
  main .content-text {
    width: 60%;
    position: relative;
    gap: 8em;
    margin-left: auto;
  }
  main .content-text img {
    width: 50%;
    position: absolute;
    right: 0;
  }
  main .content-text .contents {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main .content-text .contents .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
  }
  main .content-text .contents .content .box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  main .teams {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .teams hr {
    position: relative;
    left: -4rem;
    width: calc(100% + 8rem);
    border: 0.5px solid rgb(233, 224, 224);
  }
  main .teams .team {
    display: flex;
    justify-content: space-between;
  }
  main .teams .team h1 {
    width: 30%;
    font-size: 8em;
  }
  main .teams .team p {
    width: 50%;
    font-size: 1.7em;
    font-family: monospace;
    justify-content: center;
    display: flex;
    flex-direction: column;
    opacity: 0.9;
  }
  main .teams .groups {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  main .teams .groups .group {
    width: 25%;
  }
}/*# sourceMappingURL=style.css.map */
